.mediaItemList > .mediaItem {
  height: 1.24rem;
  padding-left: 0.12rem;
  display: flex;
  align-items: center;
}
.mediaItemList > .mediaItem:nth-of-type(n + 1) {
  border-bottom: 1px solid #e5e5e5;
}
.mediaItemList > .mediaItem > .mediaItem-left {
  width: 1rem;
}
.mediaItemList > .mediaItem > .mediaItem-left > img {
  width: 0.96rem;
  height: 0.96rem;
}
.mediaItemList > .mediaItem > .mediaItem-middle {
  padding-left: 0.1rem;
  flex: 1;
  font-size: 0.18rem;
}
.mediaItemList > .mediaItem > .mediaItem-middle > .mediaItem-middle-sub {
  margin-top: 0.02rem;
  font-size: 0.13rem;
  color: #9b9b9b;
  display: flex;
  align-items: center;
}
.mediaItemList > .mediaItem > .mediaItem-middle > .mediaItem-middle-sub > img {
  height: 0.13rem;
  widows: 0.13rem;
  margin-right: 0.06rem;
}
.mediaItemList > .mediaItem > .mediaItem-right {
  width: 0.38rem;
  text-align: center;
}
.mediaItemList > .mediaItem > .mediaItem-right > img {
  width: 0.12rem;
}
